body {
  margin: 0;
  padding: 0;
}

.nav{
  
  display: flex;
}
.searchButton{

  position: relative;
  left:1350px;
  background-color:#e0ae1d;
	border-radius:16px;
	border: 0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	margin-top: 5px;
	font-size:21px;
	height: 60px;
	text-decoration:none;
	
}
.Form{

background-color: antiquewhite;
width: 60%;
height:680px;
}
.side{
background-color: aqua;
width: 40%;
height:680px;
}
.Body{
  display: flex;
}