body {
  margin: 0;
  padding: 0;
  font-family: 'Catamaran', sans-serif;
  background-color: ecf0f3;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
  background-color: #ffffff;
  color: black;
}
a{
  color: #ffffff;
}

.nav{
  
  display: flex;
  background-color: #11468F;

}
.searchButton{

  position: relative;
  left:1350px;
  background-color:white;
	border-radius: 10px;
	border: 0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	margin-top: 5px;
	font-size:21px;
	height: 60px;
	width: 100px;
	text-decoration:none;
	
}
.Form{

background-color: antiquewhite;
width: 60%;
height:680px;

}
.side{
background-color: aqua;
width: 40%;
height:680px;
}
.Body{
  display: flex;
}
form{

	position: relative;
left:30%;
margin-top: 3%;

}
input{

	margin-bottom: 30px;
	border-width: 0 0 2px;
	width :500px;
}
form p{
	font-size: x-large;
}
form  input:focus
{
   outline: none;
}
.form1{
	display: flex;
	
}
select{
  margin-bottom: 30px;
}
.SideBarList{
  margin: 0;
  padding: 0;
  list-style: none;
  position: fixed;
  left: 100;
  height:100%;
  width: 250px;
  background-color: #042331;
  
}
.SideBarList header{
  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 70px;
  background-color: #063146;
  user-select: none;
}

.hregList a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 80px;
  font-size: 20px;
  color: white;
  padding-left: 20px;
  border-top: 1px solid;
}
.repregList a{
  display:block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 20px;
  border-top: 1px solid;
 
}
.AlreadyReg{
color: red;
width:400px;
height: 100px;
position:relative;
left: 550px;
}
.success{
  color: blue;
  width:400px;
  height: 100px;
  position:relative;
  left: 550px;
}
.myButton {
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border-radius:17px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.myButton:hover {
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}
.myButton:active {
	position:relative;
	top:1px;
}
li a:active{
  background-color:aqua;
}
.DisplayHospitals{
  display: inline;
}
.DisplayHospitals li{


margin: 10px;
margin-left: 205px;
 list-style-type: none;
 width: 400px;
 display: inline-block;
 font-size: larger;
}
.DisplayHospitals li div{
  
margin-left: 20px;
 background-color: #e0fbfc;
  border-radius: 10px;
  padding-left: 10px;
  
}
.noofHospitals{
  margin-left: 300px;
  font-size: larger;
  font: bolder;
}
.search{
  margin-left: 400px;
  width: 30%;
  position: relative;
  display: flex;
}
.searchTerm {
  width: 50%;
  border: 3px solid #00B4CC;
 
  padding: 5px;
  height: 20px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  color: #9DBFAF;
}



.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}



/* CSS */
.button {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button:hover,
.button:focus {
  background-color: #07c;
}

.button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button:active {
  background-color: #0064bd;
  box-shadow: none;
}
.searchResponse{
  margin-left: 550px;
  border:10px;
  border-radius: 10px;
  border-color: #0095ff;
  width: 600px;
  background-color:#0095ff ;
}
.charts div{
  width:600px;
  height:400px;
  margin-bottom: 10px;
  transition:  400ms ease-out 100ms
}
.charts div:hover{
  width:700px;
  height:500px;
  margin-bottom: 10px;
}
.charts{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}